package project_request

import(
    "strconv"
    "sphere/cmd/model"
)

templ ProjectMatchTable(matches []model.Match) {
    <script>
        function getDescription(){
            return document.getElementById("description").value;
        }
    </script>
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Match %</th>
            <th scope="col">Verfügbarkeit %</th>
            <th scope="col">Verfügbarkeit Engpass</th>
            </tr>
        </thead>
        <tbody>
            for _, match := range matches {
                <tr hx-include="closest tr">
                    <th scope="row"> 
                        <div x-data="{description: '', inProgress: false}">
                            <div>
                                <input name="peopleNumber" type="hidden" value={match.People.Id} />
                                <input name="corr_description" type="hidden" :value="description" />
                            </div>
                            <div class="columns">
                                <div class="column"> 
                                    <button class="button" hx-get="/showExternalProfile" hx-target="#externalProfile" :disabled="inProgress">
                                        <span class="fa-solid fa-eye" />
                                    </button>
                                </div>
                                <div class="column"> 
                                    <button class="button" hx-get="/aigenerateProfile" hx-target="#externalProfile" :aria-busy="inProgress"
                                            @click="description = getDescription(); inProgress = true" @onAIBeautifyCompleted.window="inProgress = false" :disabled="inProgress">
                                        <span class="fa-solid fa-wand-magic-sparkles" />
                                    </button>
                                </div>
                                <div class="column"> 
                                    <button class="button" hx-get="/downloadExternalProfile" hx-swap="none" :disabled="inProgress">
                                        <span class="fa-solid fa-download" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </th>
                    <td>{ match.People.Name }</td>
                    <td>{ strconv.Itoa(match.Score) } %</td>
                    <td>{ strconv.Itoa(match.Availability) } %</td>
                    <td>{ match.AvailabilityConcerns }</td>
                </tr>
            }
        </tbody>
    </table>
}