package project_request

templ ProjectRequest() {
    <script>
        function readyToClear() {
            return document.getElementById('description').value.length === 0
        }
    </script>
    <div class="row">
        <div class="col-sm-4" x-data="{ submitStatus: false, clearStatus: false }">
            <div class="box">
                <form id="project_request" hx-post="project_request" hx-trigger="submit" hx-target="#project_match" x-on:submit="submitStatus = false">
                    <fieldset>
                        <label>
                            Projektbeschreibung
                            <textarea id="description" name="description" placeholder="Beschreibung" autocomplete="off" aria-label="Project Description" maxlength="300" minlength="20" 
                                x-on:input="submitStatus = $el.value.length >= 20; clearStatus = $el.value.length >= 1" x-ref="description"
                                hx-post="project_clear" hx-trigger="input[readyToClear()]" hx-target="#profile" hx-swap="innerHTML"
                            />
                        </label>
                    </fieldset>
                    <div class="grid">
                        <div>
                            <button type="submit" value="Match" form="project_request" x-bind:disabled="!submitStatus">
                                Match
                                <span class="fa-solid fa-magnifying-glass" />
                            </button>
                        </div>
                        <div>
                            <button type="button" x-on:click="$refs.description.value = ''" x-bind:disabled="!clearStatus" hx-post="project_clear" hx-trigger="click" hx-target="#profile" hx-swap="innerHTML">
                                Clear
                                <span class="fa-solid fa-eraser" />
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="box">
                <div id="project_match">
                </div>
            </div>
        </div>
    </div>
    <div id="externalProfile">
    </div>
}