package project_request

import(
    "strconv"
    "sphere/cmd/model"
)

templ ProjectMatchTable(matches []model.Match) {
    <table class="striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Match %</th>
            <th scope="col">Verfügbarkeit %</th>
            <th scope="col">Verfügbarkeit Engpass</th>
            </tr>
        </thead>
        <tbody>
            for _, match := range matches {
                <tr>
                <th scope="row">
                    <div>
                        <input name="employeeNumber" type="hidden" value={match.Name} />
                        <button hx-get="/showExternalProfile" hx-target="#externalProfile" hx-include="closest tr">Anzeigen</button>
                        <button hx-post="/downloadExternalProfile">Download</button>
                    </div>
                </th>
                <td>{ match.Name }</td>
                <td>{ strconv.Itoa(match.Score) } %</td>
                <td>{ strconv.Itoa(match.Availability) } %</td>
                <td>{ match.AvailabilityConcerns }</td>
                </tr>
            }
        </tbody>
    </table>
}