package feedback

templ FeedbackBox() {

    <script type="text/javascript">
        
        function getCSSClassForFeedbackType(level){
            
            switch (level) {
                case "success":
                    return "notification is-success";
                case "info":
                    return "notification is-info";
                case "warning":
                    return "notification is-warning";
                case "danger":
                    return "notification is-danger";
            }

            return "";
        }
        
    </script>
    <div x-data="{level: '', message: ''}" @onStatusChanged.window="level = $event.detail.level; message = $event.detail.message;">
        <div :class="getCSSClassForFeedbackType(level)" x-show="level != ''">
            <button class="delete" @click="level=''" />
            <p x-text="message" />
        </div>
    </div>
}