package components

const (
    SUCCESS int = 1
    INFO int = 2
    WARNING int = 3
    ERROR int = 4
)

templ FeedbackBox(level int, feedback string) {
    <div>
        <article>{ feedback }</article>
    </div>
}