package components

templ Nav() {
    <nav>
    <ul>
        <li><strong>Advisory Sphere</strong></li>
    </ul>
    <ul>
        <!--<li><a href="#" class="contrast">Mitarbeiter</a></li>
        <li><a href="#" class="contrast">Über uns</a></li>-->
    </ul>
    </nav>
}