package views

import(
    "sphere/cmd/views/components"
    "sphere/cmd/views/components/project_request"
)

templ Index() {
    <!DOCTYPE html>
    <html lang="de">
    @components.Header()
        <body style="padding:0.5em">
            <header>
                @components.Nav()
                
                <div x-data="{showFeedback: false}" x-init="$watch('showFeedback', value => value ? setTimeout(() => showFeedback = false, 2000) : '')">
                    <div hx-get="/feedback" hx-trigger="on-feedback-send from:body" hx-swap="innerHTML" 
                        @on-feedback-send.window="showFeedback = true" x-show="showFeedback" x-transition>
                    </div>
                </div>

            </header>
            <main class="container-fluid">
                <div id="profile">   
                    @project_request.ProjectRequest()
                </div>
            </main>
            <footer>
                @components.Footer()
            </footer>
        </body>
    </html>
}