package views

import(
    "sphere/cmd/views/components"
    "sphere/cmd/views/components/project_request"
)

templ Index() {
    <!DOCTYPE html>
    <html lang="de">
    @components.Header()
        <body style="padding:0.5em">
        @components.Nav()
            <main class="container-fluid">
                @project_request.ProjectRequest()
                <hr>
                <div id="externalProfile" class="container">
                </div>                
            </main>
        </body>
    </html>
}