package external_profile

import (
    "strconv"
    "sphere/cmd/model"
)

templ ExternalProfilePDF(profile model.Profile) {
    <html lang="de">
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"/>
            <style>
                p { font-size: 11px }
                b { font-size: 14px }
                li { font-size: 11px }
                small { font-size: 10px }
                ul { margin: 0px; }
            </style>
        </head>
        <body>
            <div class="fixed-grid has-3-cols">
                <div class="grid is-gap-5">
                    <div class="cell">
                        <img src={ profile.People.PicturePath } width="200"/> 
                        <b>Zertifizierungen:</b>                
                        <ul>
                            for _, certificate := range profile.Certificates {
                                <li>{ certificate.Name }</li>
                            }
                    </ul>
                    </div>
                    <div class="cell"> 
                        <b>{ profile.People.Name }</b>
                        <p><small>{ profile.People.Role }</small></p>
                        <p>{ profile.People.Bio }</p>
                        <blockquote>
                            <p>{ profile.CustomerVoice.Voice }</p>
                        </blockquote>

                        <b>Spezialisierung:</b>
                        <ul>
                            for _, specialKnowledge := range profile.SpecialKnowledges {
                                <li>{ specialKnowledge.Name }</li>
                            }
                        </ul>
                    </div>
                    <div class="cell">
                        <b>Ausgewählte Projekte:</b>
                        for _, project := range profile.Projects {
                            <p>{ project.Industry } - { strconv.Itoa(project.DurationMonth) } Monate - { project.Title } </p> 
                            <p>{ project.Description }</p>
                            <hr>
                        }
                    </div>
                </div>
            </div>
        </body>
    </html>
}