package external_profile

import "sphere/cmd/model"
import "strconv"

templ ExternalProfile(profile model.Profile) {
    <div class="columns">
        <div class="column is-one-quarter">
            <img src={ profile.People.PicturePath } width="200"/>
        </div>
        <div class="column content is-two-quarter">
            <b>{ profile.People.Name }</b>
            <p><small>{ profile.People.Role }</small></p>
            
            <p>{ profile.People.Bio }</p>
            <blockquote>
                { profile.CustomerVoice.Voice }
            </blockquote>
        </div>
        <div class="column is-two-quarter">
            <b>Ausgewählte Projekte:</b>

            for _, project := range profile.Projects {
                <p>{ project.Industry } - { strconv.Itoa(project.DurationMonth) } Monate - { project.Title } </p> 
                <p>{ project.Description }</p>
                <hr>
            }
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-quarter">
            <b>Zertifizierungen:</b>                
            <ul>
                for _, certificate := range profile.Certificates {
                    <li>{ certificate.Name }</li>
                }
            </ul>
        </div>
        <div class="column is-two-quarter">
            <b>Spezialisierung:</b>
            <ul>
                for _, specialKnowledge := range profile.SpecialKnowledges {
                    <li>{ specialKnowledge.Name }</li>
                }
            </ul>
        </div>
        <div class="column is-two-quarter" />
    </div>
}