package external_profile

import (
    "strconv"
    "sphere/cmd/model"
)

templ ExternalProfile(profile model.Profile) {
    <div>
        <div class="row">
            <div class="col-xs">
                <img src={ profile.Employee.PicturePath } width="200"/>
            </div>
            <div class="col-lg">
                <b>{ profile.Employee.Name }</b>
                <p><small>{ profile.Employee.Role }</small></p>
                <p>{ profile.Employee.Bio }</p>
                <blockquote>
                    { profile.CustomerVoice.Voice }
                <footer><cite>- { profile.CustomerVoice.Contact } von { profile.CustomerVoice.Company }</cite></footer>
                </blockquote>
            </div>
            <div class="col-lg">
                <b>Ausgewählte Projekte:</b>

                for _, project := range profile.Projects {
                    <p>{ project.Industry } - { strconv.Itoa(project.DurationMonth) } Monate - { project.Title } </p> 
                    <p>{ project.Description }</p>
                    <hr>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                <b>Zertifizierungen:</b>                
                <ul>
                    for _, certificate := range profile.Certificates {
                        <li>{ certificate.Name }</li>
                    }
                </ul>
            </div>
            <div class="col-lg">
                <b>Spezialisierung:</b>
                <ul>
                    for _, specialKnowledge := range profile.SpecialKnowledges {
                        <li>{ specialKnowledge.Name }</li>
                    }
                </ul>
            </div>
            <div class="col-lg" />
        </div>
    </div>
}